# The <code>sort_values()</code> Method
By:<a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

**Single Column Sorting:**

In [1]:
import pandas as pd

data = pd.read_csv("datasets/basketball.csv").dropna(how="all")

In [2]:
data.head(3)

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School

In [3]:
data.sort_values("birth_year")

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
53701,NBA,1999 - 2000,Playoffs,Sam Perkins,IND,23,417.0,34,105,23,...,110,1961.0,Jun,"Jun 14, 1961",06-Sep,206.0,235.0,107.0,United States,Shaker High School
53606,NBA,1999 - 2000,Regular_Season,Sam Perkins,IND,81,1620.0,184,441,89,...,537,1961.0,Jun,"Jun 14, 1961",06-Sep,206.0,235.0,107.0,United States,Shaker High School
53757,NBA,1999 - 2000,Playoffs,Kevin Willis,TOR,3,76.0,12,33,0,...,39,1962.0,Sep,"Sep 6, 1962",7-0,213.0,245.0,111.0,United States,Pershing High School
52729,NBA,2001 - 2002,Playoffs,John Stockton,UTA,4,141.0,18,40,2,...,50,1962.0,Mar,"Mar 26, 1962",06-Jan,185.0,170.0,77.0,United States,Gonzaga Preparatory School
53536,NBA,1999 - 2000,Regular_Season,Patrick Ewing,NYK,62,2035.0,361,775,0,...,929,1962.0,Aug,"Aug 5, 1962",7-0,213.0,240.0,109.0,United States / Jamaica,Cambridge Rindge and Latin School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40855,Serbian-KLS,2011 - 2012,International,Dragan Jerkovic,ZEL,25,447.0,29,71,13,...,88,NaN,NaN,NaN,06-Feb,188.0,NaN,NaN,Serbia,NaN
41015,South-Korean-KBL,2011 - 2012,International,Won-Soo Lee,SAM,54,1570.4,162,391,60,...,471,NaN,NaN,NaN,05-Nov,180.0,NaN,NaN,South Korea,NaN
49839,Australian-NBL,2004 - 2005,International,Lamont Evans,SCHW,23,493.8,26,69,6,...,89,NaN,NaN,NaN,06-Apr,193.0,185.0,84.0,United States,NaN
50350,German-BBL,2004 - 2005,International,Lamont Evans,SCHW,23,493.8,26,69,6,...,89,NaN,NaN,NaN,06-Apr,193.0,185.0,84.0,United States,NaN
53429,Euroleague,2000 - 2001,International,Richard Mandeville,ZAD,10,181.1,28,50,0,...,71,NaN,NaN,NaN,7-0,213.0,264.0,120.0,United States,NaN

In [4]:
data.sort_values("birth_year", ascending=False)

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
1206,Belarusian-BPL,2019 - 2020,International,Timur Michailov,BKM,14,447.2,82,205,25,...,249,2004.0,Jan,"Jan 21, 2004",06-May,196.0,NaN,NaN,Belarus,NaN
1280,Belarusian-BPL,2019 - 2020,International,Konstantin Andreev,BKM,12,264.3,24,79,5,...,62,2004.0,Nov,"Nov 3, 2004",06-Apr,193.0,NaN,NaN,Belarus,NaN
1295,Belarusian-BPL,2019 - 2020,International,Stepan Azarkevich,BKM,10,185.2,15,41,1,...,32,2004.0,Feb,"Feb 26, 2004",05-Oct,178.0,NaN,NaN,Belarus,NaN
1301,Belarusian-BPL,2019 - 2020,International,Aleksandr Gogarev,BKM,14,184.1,12,36,0,...,27,2004.0,May,"May 26, 2004",06-Jul,201.0,NaN,NaN,Belarus,NaN
1257,Belarusian-BPL,2019 - 2020,International,Maksim Alekseev,BKM,13,374.2,38,95,4,...,104,2004.0,Jun,"Jun 3, 2004",06-Aug,203.0,NaN,NaN,Belarus,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40855,Serbian-KLS,2011 - 2012,International,Dragan Jerkovic,ZEL,25,447.0,29,71,13,...,88,NaN,NaN,NaN,06-Feb,188.0,NaN,NaN,Serbia,NaN
41015,South-Korean-KBL,2011 - 2012,International,Won-Soo Lee,SAM,54,1570.4,162,391,60,...,471,NaN,NaN,NaN,05-Nov,180.0,NaN,NaN,South Korea,NaN
49839,Australian-NBL,2004 - 2005,International,Lamont Evans,SCHW,23,493.8,26,69,6,...,89,NaN,NaN,NaN,06-Apr,193.0,185.0,84.0,United States,NaN
50350,German-BBL,2004 - 2005,International,Lamont Evans,SCHW,23,493.8,26,69,6,...,89,NaN,NaN,NaN,06-Apr,193.0,185.0,84.0,United States,NaN
53429,Euroleague,2000 - 2001,International,Richard Mandeville,ZAD,10,181.1,28,50,0,...,71,NaN,NaN,NaN,7-0,213.0,264.0,120.0,United States,NaN

In [5]:
data.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School
3,NBA,2019 - 2020,Regular_Season,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,...,1857,1994.0,Dec,"Dec 6, 1994",06-Nov,211.0,242.0,110.0,Greece / Nigeria,NaN
4,NBA,2019 - 2020,Regular_Season,Trae Young,ATL,60,2120.1,546,1249,205,...,1778,1998.0,Sep,"Sep 19, 1998",06-Feb,188.0,180.0,82.0,United States,Norman High School

In [6]:
data.sort_values("birth_year", ascending=False, inplace=True)

In [7]:
data.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
1206,Belarusian-BPL,2019 - 2020,International,Timur Michailov,BKM,14,447.2,82,205,25,...,249,2004.0,Jan,"Jan 21, 2004",06-May,196.0,NaN,NaN,Belarus,NaN
1280,Belarusian-BPL,2019 - 2020,International,Konstantin Andreev,BKM,12,264.3,24,79,5,...,62,2004.0,Nov,"Nov 3, 2004",06-Apr,193.0,NaN,NaN,Belarus,NaN
1295,Belarusian-BPL,2019 - 2020,International,Stepan Azarkevich,BKM,10,185.2,15,41,1,...,32,2004.0,Feb,"Feb 26, 2004",05-Oct,178.0,NaN,NaN,Belarus,NaN
1301,Belarusian-BPL,2019 - 2020,International,Aleksandr Gogarev,BKM,14,184.1,12,36,0,...,27,2004.0,May,"May 26, 2004",06-Jul,201.0,NaN,NaN,Belarus,NaN
1257,Belarusian-BPL,2019 - 2020,International,Maksim Alekseev,BKM,13,374.2,38,95,4,...,104,2004.0,Jun,"Jun 3, 2004",06-Aug,203.0,NaN,NaN,Belarus,NaN

By default, NaN values comes last after sorting. To override that you can use na_position parameter.

**The <code>sort_index()</code> Method:**

In [8]:
data.sort_index(inplace=True)

In [9]:
data.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School
3,NBA,2019 - 2020,Regular_Season,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,...,1857,1994.0,Dec,"Dec 6, 1994",06-Nov,211.0,242.0,110.0,Greece / Nigeria,NaN
4,NBA,2019 - 2020,Regular_Season,Trae Young,ATL,60,2120.1,546,1249,205,...,1778,1998.0,Sep,"Sep 19, 1998",06-Feb,188.0,180.0,82.0,United States,Norman High School

In [10]:
data.sort_values("birth_year", na_position="first")

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
704,Argentinian-Liga-A,2019 - 2020,International,Elijah Robinson,ADA,21,572.4,87,188,24,...,259,NaN,NaN,NaN,06-May,196.0,216.0,98.0,United States,NaN
1243,Belarusian-BPL,2019 - 2020,International,Nazar Guliev,TMY,22,348.3,55,132,1,...,123,NaN,NaN,NaN,06-Jul,201.0,185.0,84.0,Belarus,NaN
1396,Belgium-Scooore-League,2019 - 2020,International,Louis Tetica,LIE,13,189.0,14,41,8,...,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Belgium,NaN
1453,Bosnian-BiH-Liga,2019 - 2020,International,Darrion Strong-Moore,SPA,16,317.5,60,129,27,...,161,NaN,NaN,NaN,06-Jan,185.0,185.0,84.0,United States,Tartan Senior High School
1510,Bosnian-BiH-Liga,2019 - 2020,International,Brian Long,BRAT,16,179.9,13,54,6,...,41,NaN,NaN,NaN,06-Apr,193.0,NaN,NaN,United States,Killeen High School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,Belarusian-BPL,2019 - 2020,International,Maksim Alekseev,BKM,13,374.2,38,95,4,...,104,2004.0,Jun,"Jun 3, 2004",06-Aug,203.0,NaN,NaN,Belarus,NaN
5876,Romanian-Divizia-A,2019 - 2020,International,David Antonescu,FOCS,13,74.0,5,18,2,...,15,2004.0,Aug,"Aug 28, 2004",06-May,196.0,198.0,90.0,Romania,NaN
1295,Belarusian-BPL,2019 - 2020,International,Stepan Azarkevich,BKM,10,185.2,15,41,1,...,32,2004.0,Feb,"Feb 26, 2004",05-Oct,178.0,NaN,NaN,Belarus,NaN
1280,Belarusian-BPL,2019 - 2020,International,Konstantin Andreev,BKM,12,264.3,24,79,5,...,62,2004.0,Nov,"Nov 3, 2004",06-Apr,193.0,NaN,NaN,Belarus,NaN
1286,Belarusian-BPL,2019 - 2020,International,Vadim Paiko,BKM,14,305.5,21,78,4,...,53,2004.0,Jul,"Jul 7, 2004",06-Mar,191.0,NaN,NaN,Belarus,NaN

In [ ]:
data.sort_values("birth_year", ascending=False, na_position="first")

**Multiple Column Sorting:**

In [11]:
data.sort_index(inplace=True)

In [12]:
data.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",06-May,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",06-Mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",06-Jun,198.0,206.0,93.0,United States,Moss Point High School
3,NBA,2019 - 2020,Regular_Season,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,...,1857,1994.0,Dec,"Dec 6, 1994",06-Nov,211.0,242.0,110.0,Greece / Nigeria,NaN
4,NBA,2019 - 2020,Regular_Season,Trae Young,ATL,60,2120.1,546,1249,205,...,1778,1998.0,Sep,"Sep 19, 1998",06-Feb,188.0,180.0,82.0,United States,Norman High School

In [14]:
data.sort_values(["MIN", "birth_year"])

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
48871,French-Jeep-Elite,2005 - 2006,International,Julien Barrat,HYT,11,0.0,0,0,0,...,0,1986.0,Apr,"Apr 12, 1986",06-Sep,206.0,216.0,98.0,France,NaN
48872,French-Jeep-Elite,2005 - 2006,International,Romain Duport,SLH,14,0.0,0,0,0,...,0,1986.0,Dec,"Dec 10, 1986",07-Jan,216.0,257.0,117.0,France,NaN
7406,NBA,2018 - 2019,Regular_Season,John Holland,CLE,1,0.7,0,0,0,...,0,1988.0,Nov,"Nov 6, 1988",06-May,196.0,205.0,93.0,United States / Puerto Rico,Fordham Preparatory School
7405,NBA,2018 - 2019,Regular_Season,Tyler Ulis,CHI,1,0.8,0,0,0,...,0,1996.0,Jan,"Jan 5, 1996",05-Oct,178.0,149.0,68.0,United States,Marian Catholic High School
48869,French-Jeep-Elite,2005 - 2006,International,Thomas Jonckheere,RCB,14,1.0,0,0,0,...,0,1987.0,Jun,"Jun 29, 1987",06-Oct,208.0,NaN,NaN,France,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45364,NBA,2007 - 2008,Regular_Season,Allen Iverson,DEN,82,3423.8,712,1556,95,...,2164,1975.0,Jun,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School
53460,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,1982,1968.0,Jul,"Jul 23, 1968",06-Apr,193.0,180.0,82.0,United States,Skyline High School
52994,NBA,2000 - 2001,Regular_Season,Michael Finley,DAL,82,3443.0,711,1552,91,...,1765,1973.0,Mar,"Mar 6, 1973",06-Jul,201.0,225.0,102.0,United States,Proviso East High School
53464,NBA,1999 - 2000,Regular_Season,Michael Finley,DAL,82,3464.0,748,1636,99,...,1855,1973.0,Mar,"Mar 6, 1973",06-Jul,201.0,225.0,102.0,United States,Proviso East High School
51757,NBA,2002 - 2003,Regular_Season,Allen Iverson,PHI,82,3485.0,804,1940,84,...,2262,1975.0,Jun,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School

In [15]:
data.sort_values(["MIN", "birth_year"], ascending=False)

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
51757,NBA,2002 - 2003,Regular_Season,Allen Iverson,PHI,82,3485.0,804,1940,84,...,2262,1975.0,Jun,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School
53464,NBA,1999 - 2000,Regular_Season,Michael Finley,DAL,82,3464.0,748,1636,99,...,1855,1973.0,Mar,"Mar 6, 1973",06-Jul,201.0,225.0,102.0,United States,Proviso East High School
52994,NBA,2000 - 2001,Regular_Season,Michael Finley,DAL,82,3443.0,711,1552,91,...,1765,1973.0,Mar,"Mar 6, 1973",06-Jul,201.0,225.0,102.0,United States,Proviso East High School
53460,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,1982,1968.0,Jul,"Jul 23, 1968",06-Apr,193.0,180.0,82.0,United States,Skyline High School
45364,NBA,2007 - 2008,Regular_Season,Allen Iverson,DEN,82,3423.8,712,1556,95,...,2164,1975.0,Jun,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48869,French-Jeep-Elite,2005 - 2006,International,Thomas Jonckheere,RCB,14,1.0,0,0,0,...,0,1987.0,Jun,"Jun 29, 1987",06-Oct,208.0,NaN,NaN,France,NaN
7405,NBA,2018 - 2019,Regular_Season,Tyler Ulis,CHI,1,0.8,0,0,0,...,0,1996.0,Jan,"Jan 5, 1996",05-Oct,178.0,149.0,68.0,United States,Marian Catholic High School
7406,NBA,2018 - 2019,Regular_Season,John Holland,CLE,1,0.7,0,0,0,...,0,1988.0,Nov,"Nov 6, 1988",06-May,196.0,205.0,93.0,United States / Puerto Rico,Fordham Preparatory School
48871,French-Jeep-Elite,2005 - 2006,International,Julien Barrat,HYT,11,0.0,0,0,0,...,0,1986.0,Apr,"Apr 12, 1986",06-Sep,206.0,216.0,98.0,France,NaN
48872,French-Jeep-Elite,2005 - 2006,International,Romain Duport,SLH,14,0.0,0,0,0,...,0,1986.0,Dec,"Dec 10, 1986",07-Jan,216.0,257.0,117.0,France,NaN

In [16]:
data.sort_values(["MIN", "birth_year"], ascending=[True, False])

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
48871,French-Jeep-Elite,2005 - 2006,International,Julien Barrat,HYT,11,0.0,0,0,0,...,0,1986.0,Apr,"Apr 12, 1986",06-Sep,206.0,216.0,98.0,France,NaN
48872,French-Jeep-Elite,2005 - 2006,International,Romain Duport,SLH,14,0.0,0,0,0,...,0,1986.0,Dec,"Dec 10, 1986",07-Jan,216.0,257.0,117.0,France,NaN
7406,NBA,2018 - 2019,Regular_Season,John Holland,CLE,1,0.7,0,0,0,...,0,1988.0,Nov,"Nov 6, 1988",06-May,196.0,205.0,93.0,United States / Puerto Rico,Fordham Preparatory School
7405,NBA,2018 - 2019,Regular_Season,Tyler Ulis,CHI,1,0.8,0,0,0,...,0,1996.0,Jan,"Jan 5, 1996",05-Oct,178.0,149.0,68.0,United States,Marian Catholic High School
48869,French-Jeep-Elite,2005 - 2006,International,Thomas Jonckheere,RCB,14,1.0,0,0,0,...,0,1987.0,Jun,"Jun 29, 1987",06-Oct,208.0,NaN,NaN,France,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45364,NBA,2007 - 2008,Regular_Season,Allen Iverson,DEN,82,3423.8,712,1556,95,...,2164,1975.0,Jun,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School
53460,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,1982,1968.0,Jul,"Jul 23, 1968",06-Apr,193.0,180.0,82.0,United States,Skyline High School
52994,NBA,2000 - 2001,Regular_Season,Michael Finley,DAL,82,3443.0,711,1552,91,...,1765,1973.0,Mar,"Mar 6, 1973",06-Jul,201.0,225.0,102.0,United States,Proviso East High School
53464,NBA,1999 - 2000,Regular_Season,Michael Finley,DAL,82,3464.0,748,1636,99,...,1855,1973.0,Mar,"Mar 6, 1973",06-Jul,201.0,225.0,102.0,United States,Proviso East High School
51757,NBA,2002 - 2003,Regular_Season,Allen Iverson,PHI,82,3485.0,804,1940,84,...,2262,1975.0,Jun,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School

In [17]:
data.sort_values(by=["MIN", "birth_year"], ascending=[True, False], inplace=True)

In [18]:
data.head()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight,weight_kg,nationality,high_school
48871,French-Jeep-Elite,2005 - 2006,International,Julien Barrat,HYT,11,0.0,0,0,0,...,0,1986.0,Apr,"Apr 12, 1986",06-Sep,206.0,216.0,98.0,France,NaN
48872,French-Jeep-Elite,2005 - 2006,International,Romain Duport,SLH,14,0.0,0,0,0,...,0,1986.0,Dec,"Dec 10, 1986",07-Jan,216.0,257.0,117.0,France,NaN
7406,NBA,2018 - 2019,Regular_Season,John Holland,CLE,1,0.7,0,0,0,...,0,1988.0,Nov,"Nov 6, 1988",06-May,196.0,205.0,93.0,United States / Puerto Rico,Fordham Preparatory School
7405,NBA,2018 - 2019,Regular_Season,Tyler Ulis,CHI,1,0.8,0,0,0,...,0,1996.0,Jan,"Jan 5, 1996",05-Oct,178.0,149.0,68.0,United States,Marian Catholic High School
48869,French-Jeep-Elite,2005 - 2006,International,Thomas Jonckheere,RCB,14,1.0,0,0,0,...,0,1987.0,Jun,"Jun 29, 1987",06-Oct,208.0,NaN,NaN,France,NaN

**Useful References:**
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html
* https://www.geeksforgeeks.org/python-pandas-dataframe-sort_values-set-1/